<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Planet gravity</title>
    <link rel="stylesheet" href="GetCss">
</head>
<body>
    <div class="addPlanetDiv" id="addPlanetDiv">
       <center> <p id="idFormAdd">Добавить планету</p></center>
    <div id="divFormAdd">
        <form class="form-group" name="formAdd">
            <label>Имя планеты<input type="text" name="namePlanet" id="namePlanet"></label>
            <label>Координата X<input type="text" name="xPlanet" id="xPlanet"></label>
            <label>Координата Y<input type="text" name="yPlanet" id="yPlanet"></label>
            <label>Масса планеты<input type="text" name="massPlanet" id="massPlanet"></label>
            <input class="submit" type="submit" name="submit" id="submit" value="Отправить" />
        </form>
    </div>
</div>
    <img id="PlanetImg"/>
    <div class="editionPlanetDiv" id="editionPlanetDiv">
        <center> <p id="idFormAdd2">Удалить планету</p> </center>
            <div id="divEditionPlanet">
                <form class="form-group" name="editionForm">
                    <select name="selectList" id="selectList">
                    </select>
                    <input class="submit" type="submit" name="deleteButton" id="deleteButton" value="Удалить" />
                </form>
            </div>
    </div>
    <script src="GetJs"></script>
</body>
</html>
