
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <form method="post">
            <h3>Добавление планеты</h3><br />
            <table class="table-condensed">
                <tr>
                    <td align=right><p>Имя планеты:</p></td>
                    <td><input type="text" name="name" /> </td>
                </tr>
                <tr><td></td><td>Расположение на поле</td></tr>
                <tr>
                    <td align=right><p>X:</p></td>
                    <td><input type="number" name="x" /> </td>
                </tr>
                <tr>
                    <td align=right><p>Y:</p></td>
                    <td><input type="number" name="y" /> </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td align=right><p>Масса:</p></td>
                    <td><input type="number" name="mass" /> </td>
                </tr>

                <tr><td align=right><input class="btn btn-default" type="submit" value="Добавить" /></td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
