@{
    ViewBag.Title = "Home Page";
}


<div>
    <br />
   Введите размеры Поля для построения (в пискелях):
    <br /><br />
    <form method="post" action="~/Home/Pole">
        <p>X:<input type="number" name="w"></p>
        <p>Y:<input type="number" name="h"></p>
        <input class="btn btn-default" type="submit" value="Далее »" />
    </form>
</div>