
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Planet>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListManage</title>
</head>
<body>
    <div>
        <br /><h3>Текущие планеты:</h3><br />
        <table>

            
            @foreach (var element in Model)
            {
            <tr>
                <td><p>@element.name</p></td>
                <td><input type="submit" name="" value="Удалить" /></td>
            </tr>
            }
            
           
        </table>

        <br><p>
            <button class="btn btn-default" type="submit" onclick="location.href ='/Home/Add/'">Добавить</button>
        </p><br>
        <button class="btn btn-primary btn-lg" type="submit" onclick="location.href ='/Home/Count/'">Посчитать</button>
    </div>
</body>
</html>
