/*  Это для того, чтобы текст не выделялся при передвижении блоков*/
::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}



.form-group {
    background-color: #4CAF50;
    width: 100%; /* Set a width if needed */

}

label, label {
    display: block;
    padding-left: 20px;
}

.submit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}

body {
background:black;
}

p {
color:black;
}

.addPlanetDiv {
    background: white;
    position: absolute;
    left: 5%;
    top: 2%; /* Положение от нижнего края */
    float: left; /* Обтекание по правому краю */
    width: 200px;
}

.editionPlanetDiv {
    background: white;
    position: absolute;
    left: 60%;
    top: 2%; /* Положение от нижнего края */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}

select {
    margin-top: 10px;
    margin-left: 30px;
    width: 150px; /* Ширина списка в пикселах */
}
